{# app/Resources/TwigBundle/views/Exception/error500.html.twig #}

{% extends "GebsUserBundle::layout.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>L'application vient de rencontrer un problème !!!</h1>
            </div>
        </div>
    </div>
{% endblock %}