{# app/Resources/views/default/footer.html.twig #}

<div id="footer" class="text-center">
    <div class="row">
        <div class="col-md-4">
            <h3>À propos</h3>
            <p><a href="{{ path('why') }}">Pourquoi ce site ?</a></p>
        </div>
        <div class="col-md-4">
            <h3>Contribuer au projet</h3>
            <p><a href="https://github.com/sebius77/revisnotes">Participez</a></p>
            <p><a href="{{ path('contact') }}">Contactez-moi</a></p>
        </div>
        <div class="col-md-4">
            <h3>Partager</h3>

            <a href="https://www.facebook.com/" class="fa fa-2x fa-facebook-official" aria-hidden="true" name="fb_share" type="box_count" ></a>

            <a href="http://twitter.com/share" class="fa fa-2x fa-twitter-square" aria-hidden="true"></a>
        </div>

    </div>
    <div id="footer-bas" class="row">
        <p class="text-center signature">© Sébastien Gaudin - V.Alpha - GPL V3<p>
    </div>
</div>
