{# app/Resources/views/default/footer.html.twig #}

<div id="footer" class="text-center">
    <div class="row">
        <div class="col-md-4">
            <h3>À propos</h3>
            <p><a href="#">Pourquoi ce site ?</a></p>
        </div>
        <div class="col-md-4">
            <h3>Contribuer au projet</h3>
            <p><a href="#">Code Source</a></p>
            <p><a href="#">Contactez-moi</a></p>
        </div>
        <div class="col-md-4">
            <h3>Partager</h3>
        </div>

    </div>
    <div id="footer-bas" class="row">
        <p class="text-center signature">© Sébastien Gaudin<p>
    </div>

</div>