{# app/Resources/views/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block image %}
    <div id="img-accueil">
        <img class="img-responsive" src="{{ asset('images/accueilV3.jpg') }}"  alt="image d'accueil">

    </div>
{% endblock %}

{% block body %}


{% endblock %}
