{# app/Resources/views/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block image %}
    <div id="img-accueil">
        <img class="img-responsive" src="{{ asset('images/accueilV3.jpg') }}">
        <div id="titleHome" class="container">
            <h1>Avec Revisnotes</h1>
           <h2>Réviser comme vous le voulez.</h2>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Simple</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            L'utilisation de Revisnotes se fait simplement.
                            Créez votre compte et créez vos premières notes.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Rapide</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                           Une fois vos notes écrites, il vous suffit
                            d'un clic pour qu'elles soient en mode révision.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Efficace</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            En appliquant cette méthode régulièrement vous progresserez rapidement.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="text-center">Didactique</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Le code source est disponible en suivant le lien indiqué dans le pied de page.
                            Une documentation sera fournie pour chacune des fonctionnalités du site.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="text-center">Évolutive</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            L'application est conçue pour évoluer. Si vous souhaitez apporter votre contribution, vous
                            pouvez me joindre via le lien "Contactez-moi".
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="text-center">Pour le plus grand nombre</h2>
                </div>
                <div class="panel-body">
                    <p>
                        Le code source est disponible en suivant le lien indiqué dans le pied de page.
                        Une documentation sera fournie pour chacune des fonctionnalités du site.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>



{% endblock %}
