{# app/Resources/views/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block image %}
    <div id="img-accueil">
        <img class="img-responsive" src="{{ asset('images/accueilV3.jpg') }}">
        <div id="titleHome" class="container">
            <h1>Avec Revisnotes</h1>
           <h2>Réviser comme vous le voulez.</h2>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="text-center">Qu'est ce que Revisnotes ?</h2><br>
                <p class="text-center">
                    Revisnotes est un simple outil de prise de notes qui permet à la fois d'écrire ses notes et de
                    les réviser comme souhaitées.
                </p>
                <p class="text-center">
                    Le site se veut :
                </p>
                <hr><br>


            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Simple</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            L'utilisation de Revisnotes se fait simplement.
                            Créez votre compte et accéder à votre environnement pour écrire vos premières notes.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Rapide</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                           Une fois vos notes écrites, il vous suffit
                            d'un clic pour qu'elles soient en mode révision.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Efficace</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Le site s'inspire de la technique de mémorisation par répétition espacée.
                            En appliquant cette méthode régulièrement vous progresserez rapidement.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="text-center">Didactique</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Pour ceux qui serait interessé, le code source  du site est disponible en suivant le lien "Participez"
                            indiqué dans le pied de page. Les différentes fonctionnalités du site seront expliquées au fur
                            et à mesure des développements.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="text-center">Évolutif</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Le site est conçue pour évoluer. Il est développé avec les technologies PHP/SYMFONY
                            Si vous souhaitez apporter votre contribution, vous pouvez me joindre via le lien "Contactez-moi".
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="text-center">Pour le plus grand nombre</h2>
                </div>
                <div class="panel-body">
                    <p>
                       Le site est destiné à tous ceux ayant soif d'apprendre. Il ne se limite à aucun domaine.
                        Chacun peut adapter son utilisation comme il le souhaite.
                        Le site est mis sous licence libre pour garantir son ouverture au plus grand nombre.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>



{% endblock %}
