
{% extends "GebsUserBundle::layout.html.twig" %}


{% block fos_user_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Gestion des utilisateurs</h1>
                <hr>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
            <thead>
                <tr><td>Utilisateurs</td><td>Rôles</td><td>Actions</td></tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                        {% for role in user.roles %}
                            {{ role }},
                        {% endfor %}
                        </td>
                        <td>
                            <a href="#"><span title="supprimer" class="glyphicon glyphicon-trash"></span> </a>
                            <a href="#"><span title="bloquer" class="glyphicon glyphicon-thumbs-down"></span></a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
            </table>
        </div>
    </div>
    </div>


{% endblock fos_user_content %}