/************************
*      NAVBAR           *
*                       *
*************************/

.navbar-brand img {
    height: 35px;
    padding-bottom: 5px;

}

.navbar {
    margin: 0;
}

.navbar-default {
    background-color: white;

}

.navbar-default .navbar-nav > li > a {
    color: #19D4FF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FF7900;
    border-bottom: 2px solid;
}

/************************
*    Corps de page      *
*                       *
*************************/


body {
    font-family: "Calibri Light";
    font-size: medium;
    color: #458DA3;
    margin-top: 50px;

}



#container-body {
    width: 100%;
    margin-bottom: 10%;
    margin-top: 100px;
}


/************************
*      FOOTER           *
*                       *
*************************/

#footer {
    min-height: 200px;
    background-color: #3F8C9E;
    color: #ffffff;
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
    padding-top: 20px;
}

#footer-bas {
    margin-top: 20px;
}


/*************************
*      Categorie         *
*                        *
**************************/

#addCategory {
    margin-top: 26px;
}

#formCategorie {
    position: absolute;
    right: 0;
   border: 1px solid;
    width: 300px;
    height: 600px;
    z-index: 500;
    background-color: #19D4FF;
    color: white;
    font-weight: bold;

}



/*******************************************
*    Panel Connexion/Inscription           *
*                                          *
********************************************/

#heading-connexion {
    background-color: #458DA3;
    color: white;
}

#heading-register {
    background-color: #458DA3;
    color: white;
}



.panel {
    box-shadow: 8px 8px 0px #75C2D4;
}

/*
.btn {
    display: block;
    width: 150px;
    margin: auto;
    padding-bottom: 5px;
    color: white;

    background-color: #75C2D4;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);

}
*/


.signature {

}

a {
    color: white;
}



.section-home {
    min-height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid;
    text-align: center;

}


#img-accueil {
    background-image: url('../images/accueilV3.jpg');
    background-size: cover;
    height: 600px;
}

#titleHome {
    padding-top: 150px;
    width: 55%;
}

#titleHome .jumbotron {
    background-color: white;
    color: #75C2D4;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    border: 5px solid;
}


#catMessage {
    margin-bottom: 10px;
    height: 50px;

}


.tinymce {
    min-height: 400px;
}



/*
    Section englobant le block body
 */

section {
    margin-top: 100px;
    min-height: 600px;
}

option[level="1"]
{
    font-weight: bold;
}



#appbundle_categorie_nom
{
    margin-left: 70px;
    width: 150px;
}


.ih-item {
    margin-bottom: 50px;
}