.navbar-brand img {
    height: 25px;
}

body {
    width: 100%;
}

#container-haut {
    min-height: 30%;
    margin-bottom: 10%;
}

#container-bas {
    margin-bottom: 15%;
}

#container-body {
    width: 100%;
    margin-bottom: 10%;
}

#footer {
    min-height: 200px;
    background-color: #3F8C9E;
    color: #ffffff;
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
    padding-top: 20px;
}

#footer-bas {
    margin-top: 20px;
}

#addCategory {
    margin-top: 26px;
}