{# /src/AppBundle/Resources/views/User/settings.html.twig #}

{% extends "GebsUserBundle::layout.html.twig" %}


{% block fos_user_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Vos paramètres</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('notice') %}

                    {{ flashMessage }}

                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form(settings) }}
            </div>
        </div>

    </div>

{% endblock %}
