{# /src/AppBundle/Resources/views/Formulaires/formCategorie.html.twig #}

{{ form(formCategorie, {'attr': {'id': 'formCat' }}) }}

<a href="{{ path('Ajouter') }}" id="delButton" class="btn btn-danger">Retirer</a>